body{
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    background: #1b1b1b;
    transition: background-color 0.8s;
}



#slider{
    width: 350px;
    height: 180px;
    border: 10px #6e6e6e98 groove;
    border-radius: 110px;
    background-color: rgba(255, 255, 255, 0.596);
    cursor: pointer;
    .sliderball{
        width: 180px;
        height: 175px;
        border: 3px solid rgb(151, 151, 151);
        border-radius: 100px;
        background-color: #201e1ed8;
        transition: all 0.6s;
    }
}

.stuff{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}